@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .slick-dots.slick-thumb {
    display: flex !important;
    justify-content: center;
    width: 100%;
  }
  .slick-dots > li {
    width: 100px;
  }
}
